@import 'libs/slider-cart.scss';

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  padding: 0;
}
.container {
  @media (min-width: 1024px) {
    width: 1000px;
    padding: 10px;
  }
  @media (min-width: 1280px) {
    width: 1200px;
    padding: 10px;
  }
  @media (min-width: 1350px) {
    width: 1300px;
    padding: 10px;
  }
}
.section-product__new {
  padding-bottom: 50px;
  .title-wrapper {
    padding: 10px 0 55px;
    .title {
      font-family: 'CartographSansCF-Regular';
      font-size: 34px;
      font-weight: 700;
      text-transform: uppercase;
      position: relative;
      margin: 0;
      &::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 2px;
        bottom: -18px;
        left: 0%;
      }
      &__burgers::after {
        background: #f2c83d;
      }
      &__beverages::after {
        background-color: #30d0cd;
      }
      &__pizza::after {
        background-color: #feb3bd;
      }
    }
  }
  .product-list {
    .list {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
      &-item {
        width: 48%;
        box-shadow: 5px 6px 12px rgba(0, 0, 0, 0.55);
        border-radius: 10px;
        padding: 0;
        margin-bottom: 25px;
        &__img {
          padding: 0;
          margin: 0;
          cursor: pointer;
          img {
            border-radius: 10px 10px 0 0;
            // width: 100%;
            min-width: 100%;
            min-height: 132px;
          }
        }
        &__desription {
          padding: 4px 14px 12px;
          &-pizza {
            padding: 4px 0 12px;
          }
          .desription-title__link {
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .desription-title {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            min-height: 52px;
            min-width: 100px;
            color: #000000;
            font-size: 13px;
            font-weight: 700;
            font-family: 'CartographSansCF-Regular';
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
            text-transform: uppercase;
            margin-bottom: 4px;
          }
          .desription-price {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 31px;
            width: 100%;
            border-radius: 15px;
            font-family: 'CartographSansCF-Regular';
            font-size: 14px;
            font-weight: 400;
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
            &__burgers {
              background-color: #f2b03d;
            }
            &__beverages {
              background-color: #30d0cd;
            }
            &__pizza {
              background-color: #feb3bd;
              width: 85%;
              margin: 0 auto;
            }
          }
        }
      }
    }
    .pizza-size {
      padding: 1px;
      border-top: 1px solid #cccccc;
      border-bottom: 1px solid #cccccc;
      width: 94%;
      margin: 0 auto 14px;
      flex-grow: 0;
      .form-group {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        &:last-child {
          margin-right: 0;
        }
      }
      .form-column {
        display: flex;
        align-items: center;
        position: relative;
        width: auto;
        label {
          font-family: 'CartographSansCF-Regular';
          font-size: 12px;
          margin-left: 10px;
        }
      }
      span.jcf-checkbox,
      span.jcf-radio {
        min-width: 14px;
        height: 14px;
        border: 1px solid #000000;
        background-color: #ffffff;
        display: inline-flex;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        // margin-right: 7px;
        position: relative;
        cursor: pointer;

        &:hover {
          border: 1px solid var(--Color-yellow);
          cursor: pointer;
        }

        &:active {
          border: 1px solid #000000;
          cursor: pointer;
        }

        &.jcf-checked {
          span {
            width: 8px;
            height: 8px;
            background-color: #feb3bd;
            border-radius: 50%;
            cursor: pointer;
          }
        }
      }
    }
    .add-ingrediets,
    .short-description,
    .full-description,
    .number {
      display: none;
    }
    .load-more {
      cursor: pointer;
      width: 220px;
      height: 50px;
      border-radius: 20px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      outline: none;
      color: #ffffff;
      font-size: 18px;
      font-family: 'CartographSansCF-Regular';
      font-weight: 700;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
      &__burgers {
        background-color: #f2b03d;
      }
      &__beverages {
        background-color: #30d0cd;
      }
      &__pizza {
        background-color: #feb3bd;
      }
    }
  }
  @media (min-width: 1024px) {
    .title-wrapper {
      .title {
        font-size: 80px;
        margin-left: 8px;
        &::after {
          transform: translate(80%, -50%);
          width: 55%;
          bottom: 50%;
          right: 0%;
        }
      }
    }
    .product-list {
      .list {
        justify-content: start;
        margin-bottom: 0px;
        flex-wrap: wrap;
        &-item {
          width: 25%;
          // padding: 9px 8px 0;
          box-shadow: none;
          transition: all 0.7s;
          &__burgers:hover {
            height: fit-content;
            box-shadow: 5px 6px 12px rgba(0, 0, 0, 0.55);
            background-color: #fcfaf2;
            transition: all 0.7s;
            .full-description {
              display: block;
              color: #000000;
              font-size: 17px;
              // font-weight: 500;
              font-family: 'CartographSansCF-Regular';
              font-weight: 400;
              font-style: normal;
              letter-spacing: normal;
              line-height: normal;
              padding: 0 8px;
            }
            .short-description {
              display: none;
            }
            .add-ingrediets {
              background-color: #f2b03d;
              &:hover,
              &:focus {
                background-color: #e19209;
                color: #fff;
              }
            }
            .number {
              display: flex;
              padding: 0 10px 0 16px;
            }
            .desription-button__wrapper {
              padding: 0;
              .desription-price {
                border-radius: 0 0 10px 10px;
              }
            }
          }
          &__beverages:hover {
            box-shadow: 5px 6px 12px rgba(0, 0, 0, 0.55);
            background-color: #eafafa;
            transition: all 0.7s;
            .number {
              display: flex;
              padding: 0 10px 0 16px;
            }
            .desription-button__wrapper {
              padding: 0;
              .desription-price {
                border-radius: 0 0 10px 10px;
              }
            }
          }
          &__pizza:hover {
            box-shadow: 5px 6px 12px rgba(0, 0, 0, 0.55);
            background-color: #fff7f8;
            .desription-button__wrapper {
              padding: 0;
              .desription-price {
                border-radius: 0 0 10px 10px;
              }
            }
            .add-ingrediets {
              background-color: #feb3bd;
              &:hover,
              &:focus {
                background-color: #da8f99;
                color: #fff;
              }
            }
            .short-description {
              display: none;
            }
            .full-description {
              display: block;
              color: #000000;
              font-size: 17px;
              // font-weight: 500;
              font-family: 'CartographSansCF-Regular';
              font-weight: 400;
              font-style: normal;
              letter-spacing: normal;
              line-height: normal;
              padding: 0 8px;
              .pizza-size__description {
                display: block;
                border-top: 2px solid #cccccc;
                border-bottom: 2px solid #cccccc;
                padding: 15px 0;
                .form-column {
                  label {
                    font-family: 'CartographSansCF-Regular';
                    font-size: 18px;
                    margin-left: 15px;
                    font-weight: 700;
                  }
                }
                span.jcf-checkbox,
                span.jcf-radio {
                  min-width: 26px;
                  height: 26px;
                  border: 2px solid #000000;
                  background-color: #ffffff;
                  &:hover {
                    border: 2px solid #feb3bd;
                    cursor: pointer;
                  }

                  &:active {
                    border: 2px solid #000000;
                    cursor: pointer;
                  }

                  &.jcf-checked {
                    span {
                      width: 16px;
                      height: 16px;
                      background-color: #feb3bd;
                      border-radius: 50%;
                      cursor: pointer;
                    }
                  }
                }
              }
            }
            .number {
              display: flex;
              padding: 0 10px 0 16px;
            }
          }
          &__img {
            display: flex;
            justify-content: center;
            padding: 9px 8px 0;
            img {
              border-radius: 10px;
              min-height: 229px;
            }
          }
          &__desription {
            padding: 0;
            // min-height: 300px;
            .desription__title-wrapper,
            .add-ingrediets__wrapper {
              padding: 0 8px;
            }
            .desription-title__link {
              justify-content: start;
              min-height: 110px;
            }
            .desription-title {
              font-size: 26px;
              text-align: left;
              margin-left: 8px;
              position: relative;
              &__turkey {
                position: relative;
                &::before {
                  content: '';
                  background-image: url(../img/turkey-icon.svg);
                  background-repeat: no-repeat;
                  width: 30px;
                  height: 30px;
                  position: absolute;
                  top: 5px;
                  right: 13px;
                }
              }
              &__beef {
                position: relative;
                &::before {
                  content: '';
                  background-image: url(../img/beef-icon.svg);
                  background-repeat: no-repeat;
                  width: 35px;
                  height: 24px;
                  position: absolute;
                  top: 5px;
                  right: 13px;
                }
              }
            }
            .add-ingrediets {
              display: flex;
              justify-content: center;
              align-items: center;
              margin: 0 auto 18px;
              width: 94%;
              height: 49px;
              border-radius: 20px;
              background-color: #ffffff;
              outline: none;
              color: #000000;
              font-size: 16px;
              font-family: 'CartographSansCF-Regular';
              font-weight: 700;
              font-style: normal;
              letter-spacing: normal;
              line-height: normal;
              padding: 0 5px;
              cursor: pointer;
              transition: all 0.7s;
              &__burgers {
                border: 2px solid #f2b03d;
                &:hover,
                &:focus {
                  background-color: #f2b03d;
                }
              }
              &__pizza {
                border: 2px solid #feb3bd;
                &:hover,
                &:focus {
                  background-color: #feb3bd;
                }
              }
            }
            .full-description {
              &__text {
                color: #000000;
                font-size: 17px;
                font-weight: 500;
                font-family: 'CartographSansCF-Regular';
                // font-weight: 400;
                font-style: normal;
                letter-spacing: normal;
                line-height: normal;
                padding: 0 0 0 8px;
                margin-bottom: 25px;
              }
            }
            .short-description {
              display: block;
              color: #000000;
              font-size: 16px;
              font-family: 'CartographSansCF-Regular';
              font-weight: 500;
              font-style: normal;
              letter-spacing: normal;
              line-height: normal;
              padding: 0 8px 0 16px;
              margin-bottom: 25px;
            }
            .number {
              // display: flex;
              align-items: center;
              margin: 0;
              min-width: 50%;
              margin: 16px 0 29px;

              span.minus {
                background-color: #fff;
                display: inline-flex;
                cursor: pointer;
                justify-content: center;
                width: 30px;
                height: 30px;
                border-radius: 20px;
                position: relative;
                border: 2px solid var(--Color-black);
                -webkit-transition: all 0.6s;
                -moz-transition: all 0.6s;
                -ms-transition: all 0.6s;
                -o-transition: all 0.6s;
                transition: all 0.6s;
                opacity: 1;

                &.opacity {
                  opacity: 1;
                }
                &__burgers {
                  &:hover {
                    border: 2px solid var(--Color-yellow);
                    &::before {
                      background-color: var(--Color-yellow);
                    }
                  }
                }
                &__beverages {
                  &:hover {
                    border: 2px solid #30d0cd;
                    &::before {
                      background-color: #30d0cd;
                    }
                  }
                }
                &__pizza {
                  &:hover {
                    border: 2px solid #feb3bd;
                    &::before {
                      background-color: #feb3bd;
                    }
                  }
                }

                &::before {
                  position: absolute;
                  content: '';
                  width: 14px;
                  height: 2px;
                  background-color: var(--Color-black);
                  transform: translate(-50%, -50%);
                  top: 50%;
                  left: 50%;
                }
              }

              input {
                width: 61px;
                height: 43px;
                border-radius: 3px;
                background-color: transparent;
                text-align: center;
                margin: 0;
                font-family: 'CartographSansCF-Regular';
                font-size: 24px;
                font-weight: 700;
                border: none;
                opacity: 1;
                &.opacity {
                  opacity: 1;
                }
              }

              span.plus {
                background-color: #fff;
                display: inline-flex;
                cursor: pointer;
                justify-content: center;
                width: 30px;
                height: 30px;
                border-radius: 20px;
                position: relative;
                border: 2px solid var(--Color-black);
                cursor: pointer;
                -webkit-transition: all 0.6s;
                -moz-transition: all 0.6s;
                -ms-transition: all 0.6s;
                -o-transition: all 0.6s;
                transition: all 0.6s;
                opacity: 1;

                &.opacity {
                  opacity: 1;
                }
                &__burgers {
                  &:hover {
                    border: 2px solid var(--Color-yellow);

                    &::before,
                    &::after {
                      background: var(--Color-yellow);
                    }
                  }
                }
                &__beverages {
                  &:hover {
                    border: 2px solid #30d0cd;
                    &::before,
                    &::after {
                      background-color: #30d0cd;
                    }
                  }
                }
                &__pizza {
                  &:hover {
                    border: 2px solid #feb3bd;
                    &::before,
                    &::after {
                      background-color: #feb3bd;
                    }
                  }
                }

                &::before,
                &::after {
                  content: '';
                  top: 50%;
                  left: 50%;
                  width: 12px;
                  height: 2px;
                  position: absolute;
                  background: var(--Color-black);
                  transform: translate(-50%, -50%);
                }

                &::before {
                  -webkit-transform: rotate(-90deg) translate(1px, -6px);
                  -moz-transform: rotate(-90deg) translate(1px, -6px);
                  -ms-transform: rotate(-90deg) translate(1px, -6px);
                  -o-transform: rotate(-90deg) translate(1px, -6px);
                  transform: rotate(-90deg) translate(1px, -6px);
                }

                &::after {
                  -webkit-transform: rotate(0deg) translate(-50%, -50%);
                  -moz-transform: rotate(0deg) translate(-50%, -50%);
                  -ms-transform: rotate(0deg) translate(-50%, -50%);
                  -o-transform: rotate(0deg) translate(-50%, -50%);
                  transform: rotate(0deg) translate(-50%, -50%);
                }
              }
              .add-product {
                cursor: pointer;
                width: 90px;
                height: 36px;
                border-radius: 20px;
                color: #000000;
                font-size: 16px;
                font-weight: 500;
                font-style: normal;
                letter-spacing: normal;
                line-height: 24px;
                text-align: left;
                font-family: 'CartographSansCF-Regular';
                outline: none;
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: auto;
                transition: all 0.7s;
                &__burgers {
                  background-color: #f2b03d;
                  &:hover,
                  &:focus {
                    background-color: #e19209;
                    color: #fff;
                  }
                }
                &__beverages {
                  background-color: #30d0cd;
                  &:hover,
                  &:focus {
                    background-color: #02a7a4;
                    color: #fff;
                  }
                }
                &__pizza {
                  background-color: #feb3bd;
                  &:hover,
                  &:focus {
                    background-color: #da8f99;
                    color: #fff;
                  }
                }
              }
            }
            .pizza-size {
              display: none;
            }
            .desription-button__wrapper {
              padding: 0 8px;
              .desription-price {
                width: 100%;
                height: 50px;
                border-radius: 10px;
                font-size: 23px;
                font-weight: 400;
                .price-count {
                  &__burgers,
                  &__beverages,
                  &__pizza {
                    color: #000000;
                    font-family: 'CartographSansCF-Regular';
                    font-size: 26px;
                    font-weight: 400;
                  }
                }
              }
            }
          }
        }
      }
      .load-more {
        display: none;
      }
    }
  }
  @media (min-width: 1100px) {
    .product-list {
      .list {
        &-item {
          &__img {
            img {
              border-radius: 10px;
              // min-width: 304px;
              min-height: 245px;
            }
          }
        }
      }
    }
  }
  @media (min-width: 1280px) {
    .product-list {
      .list {
        &-item {
          &__desription {
            .number {
              .add-product {
                width: 129px;
              }
            }
          }
        }
      }
    }
  }
}
