<footer class="footer">
  <div class="nav">
    <div class="logo logo__mob">
      <h2 class="logo-title">WOODWOODBURGERS</h2>
    </div>
    <div class="logo logo_decktop">
      <a href="index.html">
        <img src="img/logo-small.png" />
      </a>
    </div>

    <div class="menu">
      <ul class="nav-list nav-list__first">
        <li class="list-item"><a class="list-item__link" href="javascript:void(0);">О нас</a></li>
        <li class="list-item"><a class="list-item__link" href="delivery.html">Доставка</a></li>
        <li class="list-item"><a class="list-item__link" href="about.html">Рестораны</a></li>
      </ul>
      <ul class="nav-list nav-list__second">
        <li class="list-item"><a class="list-item__link" href="about.html">Рестораны</a></li>
        <li class="list-item"><a class="list-item__link" href="about.html">Программa лояльности</a></li>
      </ul>
      <ul class="social-list">
        <li class="list-item"><a class="list-item__link" href="javascript:void(0);" target="_blank">Instagram</a></li>
        <li class="list-item"><a class="list-item__link" href="javascript:void(0);" target="_blank">Facebook</a></li>
      </ul>
    </div>
    <form>
      <div class="form-column">
        <label class="catering-title">Кейтеринг</label>
        <input class="catering-input" type="text" placeholder="Введите Ваш e-mail" />
      </div>
      <div class="form-action">
        <p class="form-action-text">Оставьте свой e-mail и мы с Вами свяжемся</p>
        <button class="form-action-button" type="submit">Отправить</button>
      </div>
    </form>
  </div>
  <div class="footer-bottom">
    <p class="owner-title">
      © 2019-2021 г. ИП Сарвин Д.В. <br class="br-mob" />
      wood wood burger
    </p>
    <a href="politic.html" class="politic">Пользовательское соглашение</a>
    <a href="https://studio-touch.ru/" class="made">Made with ❤️ by Studio Touch</a>
  </div>
</footer>
